# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints
*.pth

# Virtualenv
venv/

# Dados (não devem ir pro GitHub)
dataset_raw/
processed_dataset/
trained_models/
models/
videos/

# IDEs
.vscode/
.idea/
